/* InputLabel.module.css *
/* */
.inputLabel {
    display: flex;
    flex-direction: column;
    gap: 10px;
}
.input {
    width: 100%;
    height: 100%;
    border: 1px solid #ccc;
    border-radius: 5px;
    padding: 10px;
}
.label {
    font-size: 14px;
    color: #000;
}
.error {
    border-color: #ef4444;
}
.errorMessage {
    font-size: 14px;
    color: #ef4444;
}