.wrapper {
  display: flex;
  flex-direction: column;
  gap: 16px;
}

.title {
  font-weight: 400;
  font-size: 62px;
  line-height: 100%;
  letter-spacing: -3%;
  color: rgba(255, 255, 255, 1);
}

.line {
  width: 1480px;
  height: 0px;
  border: 2px solid;
  background-color: #ffffff;
}
