/* src/components/atoms/Input/Input.module.css */
.input {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 20px;
    font-weight: 400;
    color: #ffffff;
}