.base {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
  
    border-radius: 2px;
    border-style: solid;
    border-width: 1px;
  
    font-weight: 600;
    line-height: 1;
    user-select: none;
    white-space: nowrap;
  }
  
  .default {
    cursor: pointer;
  }
  
  .disabled {
    cursor: not-allowed;
  }
  
  /* variant: secondary */
  .secondary {
    background: #000;
    border-color: #cfcfcf;
    color: #fff;
  }
  
  /* thickness (secondary는 padding만 다르게) */
  .th_thick {
    padding: 25px;
  }
  
  .th_thin {
    padding: 17px;
  }
  
  /* disabled secondary */
  .secondary.disabled {
    background: #585858;
    border-color: #7a7a7a;
    color: #a9a9a9;
  }
  
  /* size */
  .size_l {
    width: 440px;
    height: 80px;
    font-size: 16px;
  }
  .size_m {
    width: 342px;
    height: 75px;
    font-size: 16px;
  }
  .size_s {
    width: 345px;
    height: 75px;
    font-size: 16px;
  }
  .size_xs {
    width: 150px;
    height: 40px;
    font-size: 14px;
  }
  
  /* thin일 때 오버라이드(피그마 값) */
  .th_thin.size_l {
    width: 520px;
    height: 60px;
  }
  .th_thin.size_m {
    width: 440px;
    height: 55px;
  }
  .th_thin.size_s {
    width: 345px;
    height: 55px;
  }
  .th_thin.size_xs {
    width: 150px;
    height: 40px;
  }

  .fullWidth {
    width: 100% !important;
    max-width: 100% !important;
    display: flex !important;
  }
  
  .fullWidth.size_l,
  .fullWidth.size_m,
  .fullWidth.size_s,
  .fullWidth.size_xs,
  .fullWidth.th_thin.size_l,
  .fullWidth.th_thin.size_m,
  .fullWidth.th_thin.size_s,
  .fullWidth.th_thin.size_xs {
    width: 100% !important;
  }
  