.pageContainer {
    width: 100%;
    background-color: #000000;
    min-height: 100vh;
    display: flex;
    justify-content: center;
    padding: 0;
  }
  
  .contentWrapper {
    width: 1280px;
    display: flex;
    flex-direction: column;
    padding: 20px 0;
  }
  
  /* 1. Page Title "마켓플레이스" */
  .pageTitle {
    margin-bottom: 50px;
    font-size: 24px;
    color: #A4A4A4;
    font-weight: 400;
    font-style: normal;
    line-height: 100%;
    font-family: 'BR B', sans-serif;
    width: 1280px;
  }
  
  /* 2. Card Title Box */
  .cardTitleBox {
    width: 1280px;
    height: 68px;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    border-bottom: 1px solid #D3D3D3;
    padding-bottom: 0;
  }
  
  .cardTitle {
    margin: 0;
    padding: 0;
  }
  
  /* 3. Spacing (50px) */
  .spacing50 {
    width: 1280px;
    height: 50px;
  }
  
  /* 4. Main Content Area */
  .mainContentArea {
    width: 1280px;
    display: flex;
    flex-direction: row;
    gap: 40px;
    align-items: flex-start;
  }
  
  .leftColumn {
    
    flex: 0 0 auto;
    width: auto;
  }
  
  .cardImage {
    width: 100%;
    height: 620px;
    object-fit: contain;
  }
  
  .rightColumn {
    flex: 1;
    display: flex;
    justify-content: flex-start;
  }
  
  /* 7. Exchange Cards Container */
  .exchangeCardsContainer {
    width: 1280px;
    display: flex;
    flex-direction: row;
    gap: 0;
    align-items: flex-start;
    justify-content: space-between;
  }
  
  .exchangeCardWrapper {
    flex: 0 0 400px;
    display: flex;
    justify-content: center;
    max-width: 400px;
    width: 400px;
  }
  