.successContainer {
  width: 100%;
  height: 100%;
  background-color: #141414;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  overflow: hidden;
  position: relative;
}

.content {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 40px;
  width: 100%;
  height: 100%;
  padding: 0;
  margin: 0;
}

.title {
  font-family: 'Noto Sans KR', sans-serif;
  font-weight: 700;
  font-size: 36px;
  line-height: 100%;
  color: #ffffff;
  margin: 0;
  padding: 0;
  text-align: center;
}

.highlight {
  color: #EFFF04;
}

.description {
  font-family: 'Noto Sans KR', sans-serif;
  font-weight: 400;
  font-size: 18px;
  line-height: 100%;
  color: #ffffff;
  margin: 0;
  padding: 0;
  text-align: center;
}

.buttonContainer {
  width: 100%;
  max-width: 600px;
  padding: 0 40px;
  box-sizing: border-box;
}

.button {
  width: 100%;
}
