/* InputUpload.module.css */
.inputUpload {
    display: flex;
    flex-direction: row;
    gap: 10px;
}
.input {
    width: 100%;
    height: 100%;
}
.error {
    border-color: #ffffff;
}
.errorMessage {
    font-size: 14px;
    color: #ffffff;
}